/*分类卡片*/
.fl_show {
  position: relative;
  padding-right: 40px;
  overflow: hidden;
}
.fl_show a:first-of-type,
.fl_show a:first-of-type:visited {
  color: #39b516;
}
.fl_show .btnexpand,
.cn_hd .btnexpand {
  position: absolute;
  display: block;
  height: 100%;
  right: 0;
  top: 0;
  width: 40px;
  font-size: 14px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAKCAMAAACOlf6TAAAAQlBMVEUAAAA5tRY5tRY5tRY5tRY5tRY5tRY5tRY5tRY5tRY5tRY5tRY5tRY5tRY5tRY5tRY5tRY5tRY5tRY5tRY5tRY5tRYcTVRTAAAAFXRSTlMA9O8+J+rmNS93cmtkW1XW1aupiYgsptoHAAAAVElEQVQI103JVxKAIBTF0IsKFoo1+9+qb2QYyeeJTlfUVdwlD/mXDEGjg9QkgRv1WawSYTAxG2CTtZnMdc5mq7RWqS0e7gf8IvUGYVLXFJp0th9NXo4EA/UtJJ0+AAAAAElFTkSuQmCC);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 10px 5px;
}
.fl_show .btnexpand.fl_zk,
.cn_hd .btnexpand.fold {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAKCAMAAACOlf6TAAAAQlBMVEUAAADMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMzMz4TCVIAAAAFXRSTlMA5NrRdTIY8e7qt5N+a2JYTDspJB+eOeSwAAAAXElEQVQI11XNSRaAIAwE0Sg4T0x1/6saBUVr1e9nESn189zn9UoL7c+SilqqEhtYFmjiI0FlFVnVQpZuAnsNC1N3ywhbPm4wqvkBdintMHgxcNRHBxixxsknZ+wJfWUERc7Zxh4AAAAASUVORK5CYII=);
}
.fl_hide {
  display: none;
  margin: 6px 5px;
  background: #f3f3f3;
}
.fl_hide a {
  font-size: 12px;
  overflow: hidden;
}
